[Unit]
Description=Gives permissions to Asus keyboard device files to all users on boot
After=systemd-udevd.service

[Service]
ExecStart=/usr/bin/nvidiablperm

[Install]
WantedBy=multi-user.target 
